
<style>
  .material-symbols-outlined {
    vertical-align: middle;
  }
</style>
<div class="dashUsuario">
<ul>
  <p>Seja bem-vindo!   <span class="material-symbols-outlined">
    account_circle
    </span></p>
      <br><span class="material-symbols-outlined">
        library_books <a routerLink="/cadastrar">Cadastrar seus dados</a></span>
      <br><span class="material-symbols-outlined">
        calendar_clock <a routerLink="/agendar">Agendar sua coleta</a></span>
        <br><span class="material-symbols-outlined">
          person <a routerLink="/perfilUsuario/cadastro">Seu cadastro</a></span>
    <br><span class="material-symbols-outlined">
      calendar_month <a routerLink="/perfilUsuario/agendamento">Seus agendamentos</a></span>



    <!-- Adicione outros links conforme necessário -->
</ul>
<div class="button-container">
<button (click)="logout()">Sair</button>
</div>
