

<div class="dashUsuario">
<ul>
  <p>Seja bem-vindo!     <span class="material-symbols-outlined">
    account_circle
    </span></p>
    <li><a routerLink="/cadastrar">Cadastrar seus dados</a></li>
    <li><a routerLink="/agendar">Agendar coleta</a></li>
    <li><a routerLink="/perfilUsuario">Seu cadastro</a></li>
    <li><a routerLink="/perfilUsuario">Seus agendamentos</a></li>



    <!-- Adicione outros links conforme necessário -->
</ul>
<div class="button-container">
<button (click)="logout()">Sair</button>
<div *ngIf="shouldShowSidebar()"></div>
</div>
</div>
