footer{
  border-top: 1px solid #29e44f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: gainsboro;
  width: 100%;


}

footer h3{
  margin-bottom: 1.2em;
}
footer span{
  font-weight: bold;
  color: #4405a9;
}

.brand img{
  width: 20vh;
  margin-right: 0.6em;
  border: 2px solid rgb(244, 15, 179); /* Adiciona uma borda sólida de 2px com cor*/
  max-width: 100%; /* Garante que a imagem não ultrapasse seu contêiner */
  height: auto;
}
@media screen and (max-width: 600px) {
.brand img{
  max-width: 100%;
}
}
