.table-container {
  margin: 20px auto;
  max-width: 800px;
  overflow-x: auto;
  position: absolute; /* ou 'fixed', dependendo do comportamento desejado */
  top: 40%; /* Posicionamento a partir do topo */
  left: 50%; /* Posicionamento a partir da esquerda */
  transform: translate(-50%, -50%); /* Centraliza o bloco */
  z-index: 999; /* Define a ordem de empilhamento sobre outros elementos */
  background-color: #a8f39b; /* Cor de fundo desejada */
  padding: 20px; /* Adapte conforme necessário */
  text-align: center; /* Centraliza o texto */
  max-width: 1200px; /* Define uma largura máxima para o conteúdo */
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-bottom: 100px;
  height: 300px; /* Ajuste a altura conforme necessário */
  border-radius: 10px;
  border: 2px solid rgb(68, 243, 77);
  line-height: 1.5; /* Altere o valor para ajustar*/
}
@media screen and (max-width: 600px) {
  .table-container {
    width: 100%;
    font-size: 14px;
    margin: 10px 0;
  }

}
/* Estilize os botões conforme necessário */
.table-container button {
  margin-bottom: 30px;
  background-color: rgb(24, 24, 241);
  color: white;
  padding: 4px;
  border-radius: 3px;
  border-color: #0000ff;
  margin-right: 8px;
  font-size: 12px;
  padding: 8px;

}
.table-container h2{
  padding: 20px;
}
.table-container input {
  padding: 8px;
  margin-right: 10px;
}


/* Estilo para o botão de atualizar */
/*.botão-atualizar {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* Estilo para o botão de sair */
/*.botão-sair {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}*/

/*home*/
.centralizar-justificar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  max-width: 600px; /* Ajuste conforme necessário */
  margin: auto; /* Para centralizar horizontalmente */
  padding: 20px;
}
.imagemcircular{
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2000px;
  height: 500px;
  border-top: 1px solid rgb(25, 214, 25);
  text-align: justify;
  max-width: 600px; /* Ajuste conforme necessário */
  /*margin: auto; /* Para centralizar horizontalmente */
  width: 30%; /* A imagem ocupará 100% da largura do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
  margin: auto; /* Para centralizar horizontalmente */
  padding: 20px
}
@media screen and (max-width: 600px) {
  .imagemcircular{
    width: 50%;
  }

}
.imagem-container {
  max-width: 100%;
  border: 2px solid #b0a806; /* Adicione a borda desejada ao contêiner */
  border-radius: 8px; /* Opcional: Adicione bordas arredondadas ao contêiner */
  overflow: hidden; /* Garante que a borda não se estenda além do contêiner */
}
.centralizar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

img {
  /*max-width: 100%;*/
  /*margin-bottom: 20px;*/
  width: 100%; /* A imagem ocupará 100% da largura do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
}
.oleoArmazenado{
  width: 80%;
  height: 20%;
  display: flex;
  margin-bottom: 10px;
  margin-left: 30px;

}
@media screen and (max-width: 600px) {
  .oleoArmazenado{
    width: 80%;
    margin-left: 20px;
  }

}

.blocos {
  display: flex;
  justify-content: space-between;
  /*max-width: 800px;*/
  margin: auto;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .blocos {
    font-size: 14px; /* ou outro tamanho adequado */
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.3;

  }
}


.bloco1 {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f; /* Adicione a cor de preenchimento desejada */
  height: 300px;
  margin-bottom: 30px;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .bloco1 {
    font-size: 14px; /* ou outro tamanho adequado */
    width: 100%;
}
}
.bloco1 .link {
  text-decoration: underline; /* Adicione sublinhado para indicar que é um link */
  color: blue; /* Adicione uma cor para indicar que é um link */
}
.bloco {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f; /* Adicione a cor de preenchimento desejada */
  height: 300px;
  margin-bottom: 30px;
  line-height: 1.0;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .bloco {
    font-size: 14px; /* ou outro tamanho adequado */
    width: 100%;
  }
}


/* A última criança não deve ter margem direita para evitar espaçamento extra */
.bloco:last-child {
  margin-right: 0;
}
