<app-admin-header></app-admin-header>
<div class="centralizar-justificar">
  <h1>Bem-vindos a EcoSist!</h1>

  <p>Somos uma empresa que pensa no meio ambiente reciclando óleo e gordura vegetal.
    Trabalhamos com a coleta de óleo, seja em empresas, condomínios ou residências, e
     damos a destinação correta para a reciclagem. Faça seu cadastro e agende conosco.
      Vamos até você! </p>
    </div>
    <div class="imagemcircular">
      <div class="imagem-container">
      <img src="/assets/Sustentabilidade .png" alt="maoseco">
    </div>
    </div>
    <div class="centralizar">

      <div class="blocos">
        <div class="bloco1">
          <span class="material-symbols-outlined">
            recycling
            </span>
          <span style="display: block; font-weight: bold;">Saiba mais:</span>
          <span style="display: block; margin-bottom: 5px;">Acesse o link abaixo, e saiba como armazenar seu óleo de cozinha usado.<br></span>
          <span style="display: block; margin-top: 5px;"></span>
          <span style="display: block; margin-top: 5px;">
            <a href="https://comoarmazenar.com/10896/como-armazenar-oleo-de-cozinha/" target="_blank" style="color: blue;" >Como armazenar óleo de cozinha.</a>
            <div class="oleoArmazenado">
            <img src="/assets/imagensEcoSist/óleoArmazenado.png" alt="oleoArmazenado">
          </div>
          </span>
      </div>
        <div class="bloco">
          <span class="material-symbols-outlined">
            cycle
            </span>
          <span style="display: block; font-weight: bold;">Nossos EcoPontos:</span>
          <span style="display: block; margin-bottom: 5px;">Caso deseje, pode levar
            o seu óleo usado em um
            desses ecopontos. Clique e veja o
            mais próximo de você!<br></span>
            <span class="material-symbols-outlined">
              location_on
              </span>
            <span style="display: block; ">Olinda<br></span>
            <span style="display: block; ">Paulista<br></span>
            <span style="display: block; ">Recife<br></span>


        </div>
        <div class="bloco">
          <span class="material-symbols-outlined">
            eco
            </span>
          <span style="display: block; margin-bottom: 5px; font-weight: bold;">Sustentabilidade:<br></span>
          <span style="display: block;">Repense<br></span>
          <span style="display: block;">Recicle<br></span>
          <span style="display: block;">Reuse<br></span>
          <span class="material-symbols-outlined">
            temp_preferences_eco
            </span>
          <span style="display: block; margin-bottom: 5px; ">Seja um doador do seu óleo usado, e receba uma
            bonificação:<br></span>
            <span style="display: block; margin-bottom: 5px;">A partir de 6l de óleo você recebe uma
              barra de sabão vegetal.<br></span>

        </div>
      </div>







<div class="table-container mat-elevation-z8">
  <h2>Agendamentos das coletas</h2>
  <mat-table mat-table #matTable [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let item">{{ item.id }}</td>
    </ng-container>
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let item">{{ item.data }}</td>
    </ng-container>
    <ng-container matColumnDef="horario">
      <th mat-header-cell *matHeaderCellDef>Horário</th>
      <td mat-cell *matCellDef="let item">{{ item.horario }}</td>
    </ng-container>
    <ng-container matColumnDef="cpfCnpj">
      <th mat-header-cell *matHeaderCellDef>Cpf ou Cnpj</th>
      <td mat-cell *matCellDef="let item">{{ item.cpfCnpj }}</td>
    </ng-container>
    <ng-container matColumnDef="enderecoColeta">
      <th mat-header-cell *matHeaderCellDef>Endereço para coleta</th>
      <td mat-cell *matCellDef="let item">{{ item.enderecoColeta }}</td>
    </ng-container>
    <ng-container matColumnDef="quantOleo">
      <th mat-header-cell *matHeaderCellDef>Quantidade de óleo</th>
      <td mat-cell *matCellDef="let item">{{ item.quantOleo }}</td>
    </ng-container>
    <ng-container matColumnDef="statusColeta">
      <th mat-header-cell *matHeaderCellDef>Status da coleta</th>
      <td mat-cell *matCellDef="let item">{{ item.statusColeta }}</td>
    </ng-container>
    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let agendamento">
        <button mat-icon-button style="border-radius: 10px;  padding: 0.6em 1em; color: white;" matTooltip="Atualizar" (click)="atualizarAgendamento(agendamento)" value="Atualizar">
          <mat-icon>Atualizar</mat-icon>
        </button>
        <button mat-icon-button style="background-color: red;border-color: red; border-radius: 10px;  padding: 0.6em 1em; color: white;" matTooltip="Excluir" (click)="deleteAgendamento(agendamento)" value="Excluir">
          <mat-icon>Excluir</mat-icon>
        </button>
        <button mat-icon-button  style=" background-color: rgb(143, 5, 213); border-radius: 10px;  padding: 0.6em 1em; color: white;" matTooltip="Sair" (click)="sair()" value="Sair">
          <mat-icon>Sair</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
