
<nav>
  <a class="brand" routerLink="/">
    <img src="/assets/imagensEcoSist/Eco (3).png" alt="eco">
    <h2></h2>
  </a>
  <ul class="links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/sobre">Sobre</a></li>
    <li><a routerLink="/contato">Contato</a></li>
    <li><a routerLink="/registrar">Registrar</a></li>
    <li><a routerLink="/cadastrar">Cadastrar</a></li>
    <li><a routerLink="/agendar">Agendar</a></li>
    <li><button mat-button class="custom-button" routerLink="/login">Login</button></li>
  </ul>
</nav>
