@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
background-attachment: fixed;
background-repeat: no-repeat;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}

form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #a8f39b 50%, #a8f39b 50%);
}


form .con {
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

    margin: 0 auto;
}
form .form-input {
  width: 100%;
  height: 50px;
  margin-top: 2%;
  padding: 15px;
  font-size: 16px;
  color: #5E6472;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}

#txt-input {
  width: calc(100% - 3px);
}

input[type="password"] {
  width: calc(100% - 40px);
}

header {
  margin: 2% auto 10% auto;
  text-align: center;
}
header h2 {
  font-size: 250%;
  color: #3e403f;
}
header p {letter-spacing: 0.05em;}
.input-item {
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
}
#eye {
  background: #fff;
  color: #333;

  margin: 5.9px 0 0 0;
  margin-left: -20px;
  padding: 15px 9px 19px 0px;
  border-radius: 0px 5px 5px 0px;

  float: right;
  position: relative;
  right: 1%;
  top: -.2%;
  z-index: 5;

  cursor: pointer;
}
input[class="form-input"]{
  width: 250px;
  height: 50px;

  margin-top: 2%;
  padding: 15px;

  font-size: 16px;
  color: #5E6472;

  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;

}
input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}
button {
  display: inline-block;
  color: white;

  width: 250px;
  height: 50px;

  padding: 0 20px;
  background: #4141ef;
  border-radius: 5px;

  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;

  margin: 7% auto;
  letter-spacing: 0.05em;
}
/* Submits */
.submits {
  width: 48%;
  display: inline-block;
  float: left;
  margin-left: 2%;
}

/*       Forgot Password button FAF3DD  */
.frgt-pass {background: transparent;}

/*     Sign Up button  */
.sign-up {background: #6161f3;}


/* buttons hover */
button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

/* buttons hover Animation */
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
      transform: translateY(3px);
  }
  100% {
      transform: translateY(5px);
  }
}

/*home*/
.centralizar-justificar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  max-width: 600px;
  margin: auto; /* Para centralizar horizontalmente */
  padding: 20px;
}
.imagemcircular{
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2000px;
  height: 500px;
  border-top: 1px solid rgb(25, 214, 25);
  text-align: justify;
  max-width: 600px;
  margin: auto; */
  width: 30%; /* A imagem ocupará 100% da largura do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
  margin: auto; /* Para centralizar horizontalmente */
  padding: 20px;

}
@media screen and (max-width: 600px) {
  .imagemcircular{
    width: 50%;
  }

}
.imagem-container {
  max-width: 100%;
  border: 2px solid #b0a806; /* Adicione a borda desejada ao contêiner */
  border-radius: 8px;
  overflow: hidden; /* Garante que a borda não se estenda além do contêiner */
}
.centralizar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

img {
  /*max-width: 100%;
  margin-bottom: 20px;*/
  width: 100%; /* A imagem ocupará 100% da largura do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
}
.oleoArmazenado{
  width: 80%;
  height: 20%;
  display: flex;
  margin-bottom: 10px;
  margin-left: 30px;

}
@media screen and (max-width: 600px) {
  .oleoArmazenado{
    width: 80%;
    margin-left: 20px;
  }

}
.blocos {
  display: flex;
  justify-content: space-between;
  /*max-width: 800px;*/
  margin: auto;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .blocos {
    font-size: 14px;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.3;

  }
}
.bloco1 {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f;
  height: 300px;
  margin-bottom: 30px;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .bloco1 {
    font-size: 14px;
    width: 100%;

}
}
.bloco1 .link {
  text-decoration: underline;
  color: blue;
}
.bloco {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f;
  height: 300px;
  margin-bottom: 30px;
  line-height: 1.0;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .bloco {
    font-size: 14px;
    width: 100%;
  }
}

/* A última não deve ter margem direita para evitar espaçamento extra */
.bloco:last-child {
  margin-right: 0;
}
