<div class="form-container">
<form  (ngSubmit)="onSubmit()">
  <h2>Preencha seus dados para o <span>cadastro</span></h2>
  <p>**você precisa estar logado para cadastrar**</p>
  <span style="display: block; margin-bottom: 5px;">Já tem registro?<a routerLink="/registrar" class="link-registrar"> Clique aqui</a> e registre-se!
  </span>
<div class="form-group">
  <label for="nomeCompleto">Nome:</label>
  <input type="text" id="nomeCompleto" [(ngModel)]="novoCadastro.nomeCompleto" name="nomeCompleto" placeholder="Digite seu nome completo" required/>
</div>

  <div class="form-group">
    <label for="dataNascimento">Data de nascimento:</label>
    <input type="text" id="dataNascimento" [(ngModel)]="novoCadastro.dataNascimento" name="dataNascimento"   placeholder="Digite sua data de nascimento" required/>
  </div>
  <div class="form-group">
    <label for="cpfCnpj">CPF ou CNPJ:</label>
    <input type="text" id="cpfCnpj" [(ngModel)]="novoCadastro.cpfCnpj" name="cpfCnpj" placeholder="Digite seu CPF ou CNPJ" required/>
  </div>
    <div class="form-group">
      <label for="telefone">Telefone:</label>
      <input type="text" id="telefone" [(ngModel)]="novoCadastro.telefone" name="telefone" placeholder="Digite seu telefone" required/>
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="text" id="email" [(ngModel)]="novoCadastro.email" name="email" placeholder="Digite seu E-mail" required/>
    </div>
    <div class="form-group">
      <label for="cep">CEP:</label>
      <input type="text" id="cep" [(ngModel)]="novoCadastro.cep" name="cep" placeholder="Digite seu CEP" required/>
    </div>
    <div class="form-group">
      <label for="endereco">Endereço:</label>
      <input type="text" id="endereco" [(ngModel)]="novoCadastro.enderecoCompleto" name="enderecoCompleto" placeholder="Digite seu endereço e número" required/>
    </div>
    <div class="form-group">
      <label for="bairroCidadeUf">Bairro/cidade/UF:</label>
      <input type="text" id="bairroCidadeUf" [(ngModel)]="novoCadastro.bairroCidEst" name="bairroCidadeUf" placeholder="Digite seu bairro, cidade/UF" required/>
    </div>
    <div class="form-group">
      <label for="addressType">Tipo de Endereço:</label>
      <select class="form-control" id="addressType" [(ngModel)]="novoCadastro.tipoEndereco"name="tipoEndereco" required>
        <option value="" disabled selected>Escolha o tipo de endereço:</option>
        <option value="residencial">Residencial</option>
        <option value="comercial">Comercial</option>
      </select>
    </div>

    <div class="form-group">
      <label for="pontoReferencia">Ponto de referência:</label>
      <input type="text" id="pontoReferencia" [(ngModel)]="novoCadastro.pontoReferencia" name="novoCadastro" placeholder="Digite um ponto de referência" required/>
    </div>
    <div class="form-group">
      <label for="description">Observação:</label>
      <textarea id="observacao" [(ngModel)]="novoCadastro.observacao" name="observacao" placeholder="Descreva sua observação"  required></textarea>
    </div>
    <input type="submit" value="{{btnText || 'Enviar'}}"/>
  </form>
</div>
