.centralizar-justificar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  max-width: 600px;
  margin: auto;
}
.imagemcircular{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2000px;
  height: 500px;
  border-top: 1px solid rgb(25, 214, 25);
  text-align: justify;
  max-width: 600px;
  margin: auto; /* Para centralizar horizontalmente */
  padding: 20px;

}
.imagem-container {
  border: 2px solid #b0a806; /* Adicione a borda desejada ao contêiner */
  border-radius: 8px;
  overflow: hidden; /* Garante que a borda não se estenda além do contêiner */
}
.centralizar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

.blocos {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

.bloco1 {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f;
  height: 300px;
  margin-bottom: 30px;
}
.bloco1 .link {
  text-decoration: underline;
  color: blue;
}
.bloco {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f;
  height: 300px;
  margin-bottom: 30px;
  line-height: 1.0;
}

/* A última não deve ter margem direita para evitar espaçamento extra */
.bloco:last-child {
  margin-right: 0;
}
