.centralizar-justificar {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  max-width: 600px; /* Ajuste conforme necessário */
  margin: auto; /* Para centralizar horizontalmente */
  padding: 20px;
}
.imagemcircular{
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2000px;
  height: 500px;
  border-top: 1px solid rgb(25, 214, 25);
  text-align: justify;
  max-width: 600px; /* Ajuste conforme necessário */
  /*margin: auto; /* Para centralizar horizontalmente */
  width: 30%; /* A imagem ocupará 100% da largura do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
  margin: auto; /* Para centralizar horizontalmente */
  padding: 20px;


}
@media screen and (max-width: 600px) {
  .imagemcircular{
    width: 50%;
  }

}
.imagem-container {
  max-width: 100%;
  border: 2px solid #b0a806; /* Adicione a borda desejada ao contêiner */
  border-radius: 8px; /* Opcional: Adicione bordas arredondadas ao contêiner */
  overflow: hidden; /* Garante que a borda não se estenda além do contêiner */
}
.centralizar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

img {
  /*max-width: 100%;
  margin-bottom: 20px;*/
  width: 100%; /* A imagem ocupará 100% da largura do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
}
.oleoArmazenado{
  width: 80%;
  height: 20%;
  display: flex;
  margin-bottom: 10px;
  margin-left: 30px;
}
@media screen and (max-width: 600px) {
  .oleoArmazenado{
    width: 80%;
    margin-left: 20px;
  }

}
.blocos {
  display: flex;
  justify-content: space-between;
  /*max-width: 800px;*/
  margin: auto;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .blocos {
    font-size: 14px;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.3;

  }
}

.bloco1 {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f; /* Adicione a cor de preenchimento desejada */
  height: 300px;
  margin-bottom: 30px;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .bloco1 {
    font-size: 14px; /* ou outro tamanho adequado */
    width: 100%;


}
}
.bloco1 .link {
  text-decoration: underline;
  color: blue;
}
.bloco {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f;
  height: 300px;
  margin-bottom: 30px;
  line-height: 1.0;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .bloco {
    font-size: 14px;
    width: 100%;
  }
}

/* A última não deve ter margem direita para evitar espaçamento extra */
.bloco:last-child {
  margin-right: 0;
}


.texto-sobre {
  position: absolute; /* ou 'fixed', dependendo do comportamento desejado */
  top: 65%; /* Posicionamento a partir do topo */
  left: 50%; /* Posicionamento a partir da esquerda */
  transform: translate(-50%, -50%); /* Centraliza o bloco */
  z-index: 999; /* Define a ordem de empilhamento sobre outros elementos */
  background-color: #a8f39b; /* Cor de fundo desejada */
  padding: 20px;
  text-align: center; /* Centraliza o texto */
  max-width: 100%; /* Define uma largura máxima para o conteúdo */
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-bottom: 100px;
  height: 600px; /* Ajusta a altura */
  border-radius: 10px;
  border: 2px solid rgb(68, 243, 77);
  line-height: 1.0; /* espaçamento vertical entre as linhas */

}
@media screen and (max-width: 600px) {
  .texto-sobre{
    line-height: 1.0;
    width: 100%;
  }
}
.botão-ok{
  background-color: rgb(43, 33, 238);
  color: white;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(43, 33, 238);
  padding: 0.6em 1em;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.4s;
  height: auto;
  margin-top: 10px;
  width: 15%;
  float: center;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .botão-ok{
    text-align: right;
    font-size: 14px;
    width: 10%;
    padding: 5px 5px;
    margin-top: 5;
  }
}
