:host {
  display: block;
  background-color: #a8f39b; /* Cor de fundo desejada */
  padding: 20px; /* Ajuste de espaçamento interno */
  max-width: 500px; /* Define uma largura máxima para o conteúdo */
  margin: 0 auto; /* Centraliza horizontalmente */
  border-radius: 10px;
  border: 2px solid rgb(68, 243, 77);
  position: absolute; /* ou 'fixed', dependendo do comportamento desejado */
  top: 50%; /* Posicionamento a partir do topo */
  left: 50%; /* Posicionamento a partir da esquerda */
  transform: translate(-50%, -50%); /* Centraliza o bloco */
  z-index: 999; /* Define a ordem de empilhamento sobre outros elementos */

}
.h2{
  line-height: 2.0; /* Altere o valor para ajustar o espaçamento vertical entre as linhas */

}
