<form (ngSubmit)="onSubmit()">
  <h2>Registre seus dados para o <span>login</span></h2>

  <div class="form-group">
    <label for="login">Login:</label>
    <input type="text" id="login" [(ngModel)]="novoRegistro.login" name="login" placeholder="Digite um login, ex.: e-mail ou nome usuário" required/>
  </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="text" id="password" [(ngModel)]="novoRegistro.password" name="password" placeholder="Digite uma senha" required/>
    </div>
    <div class="form-group">
      <label for="userType">Role:</label>
      <select class="form-control" id="userType" [(ngModel)]="novoRegistro.role" name="role" required>
        <option value="" disabled selected>Selecione:</option>
        <option value="USER">USER</option>
        </select>
        </div>
        <input type="submit" value="{{btnText || 'Enviar'}}"/>
</form>
