

<div class="form-group">
  <form>
    <h2>Faça seu <span>login!</span></h2>
    <label class="form-label">Login</label>
      <input type="text" class="form-control" formControlName="login" placeholder="Digite seu login registrado" required/>
      <div class="form-text text-danger" *ngIf=""> O login deve conter pelo menos 6 caracteres.</div>

    <div class="form-group">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Digite sua senha registrada" required/>
    <div class="form-text text-danger" *ngIf=""> A senha deve conter pelo menos 6 caracteres.</div>
  </div>

  <div class="links">
     <a routerLink="/registrar" class="link-login">Registre-se!</a>
  </div>
  <div class="inputBox">
    <input type="submit"[disabled]="" value="Entrar">
  </div>
</form>
