<app-usuario-header></app-usuario-header>
<app-form-agendar [btnText] ="btnText"></app-form-agendar>
<div class="centralizar-justificar">
  <h1>Bem-vindos a EcoSist!</h1>

  <p>Somos uma empresa que pensa no meio ambiente reciclando óleo e gordura vegetal.
    Trabalhamos com a coleta de óleo, seja em empresas, condomínios ou residências, e
     damos a destinação correta para a reciclagem. Faça seu cadastro e agende conosco.
      Vamos até você! </p>
    </div>
    <div class="imagemcircular">
      <div class="imagem-container">
      <img src="/assets/Sustentabilidade .png" alt="maoseco">
    </div>
    </div>
    <div class="centralizar">

      <div class="blocos">
        <div class="bloco1">
          <span class="material-symbols-outlined">
            recycling
            </span>
          <span style="display: block; font-weight: bold;">Saiba mais:</span>
          <span style="display: block; margin-bottom: 5px;">Acesse o link abaixo, e saiba como armazenar seu óleo de cozinha usado.<br></span>
          <span style="display: block; margin-top: 5px;"></span>
          <span style="display: block; margin-top: 5px;">
            <a href="https://comoarmazenar.com/10896/como-armazenar-oleo-de-cozinha/" target="_blank" style="color: blue;" >Como armazenar óleo de cozinha.</a>
            <div class="oleoArmazenado">
            <img src="/assets/imagensEcoSist/óleoArmazenado.png" alt="oleoArmazenado">
          </div>
          </span>
      </div>
        <div class="bloco">
          <span class="material-symbols-outlined">
            cycle
            </span>
          <span style="display: block; font-weight: bold;">Nossos EcoPontos:</span>
          <span style="display: block; margin-bottom: 5px;">Caso deseje, pode levar
            o seu óleo usado em um
            desses ecopontos. Clique e veja o
            mais próximo de você!<br></span>
            <span class="material-symbols-outlined">
              location_on
              </span>
              <span style="display: block; ">Olinda<br></span>
              <span style="display: block; ">Paulista<br></span>
              <span style="display: block; ">Recife<br></span>


        </div>
        <div class="bloco">
          <span class="material-symbols-outlined">
            eco
            </span>
          <span style="display: block; margin-bottom: 5px; font-weight: bold;">Sustentabilidade:<br></span>
          <span style="display: block;">Repense<br></span>
        <span style="display: block;">Recicle<br></span>
        <span style="display: block;">Reuse<br></span>
          <span class="material-symbols-outlined">
            temp_preferences_eco
            </span>
          <span style="display: block; margin-bottom: 5px; ">Seja um doador e receba uma
            bonificação:<br></span>
            <span style="display: block; margin-bottom: 5px;">A partir de 6l de óleo você recebe uma
              barra de sabão vegetal.<br></span>

        </div>
      </div>
      <h2></h2>
      <app-form-agendar (agendar)="createAgendamento($event)"></app-form-agendar>
    </div>
