.centralizar-justificar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  max-width: 600px; /* Ajuste conforme necessário */
  margin: auto; /* Para centralizar horizontalmente */
  padding: 20px;
}
.imagemcircular{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2000px;
  height: 500px;
  border-top: 1px solid rgb(25, 214, 25);
  text-align: justify;
  max-width: 600px; /* Ajuste conforme necessário */
  margin: auto; /* Para centralizar horizontalmente */
  padding: 20px;

}
.imagem-container {
  border: 2px solid #b0a806; /* Adicione a borda desejada ao contêiner */
  border-radius: 8px; /* Opcional: Adicione bordas arredondadas ao contêiner */
  overflow: hidden; /* Garante que a borda não se estenda além do contêiner */
}
.centralizar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

.blocos {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

.bloco1 {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f; /* Adicione a cor de preenchimento desejada */
  height: 300px;
  margin-bottom: 30px;
}
.bloco1 .link {
  text-decoration: underline; /* Adicione sublinhado para indicar que é um link */
  color: blue; /* Adicione uma cor para indicar que é um link */
}
.bloco {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f; /* Adicione a cor de preenchimento desejada */
  height: 300px;
  margin-bottom: 30px;
  line-height: 1.0;
}

/* A última criança não deve ter margem direita para evitar espaçamento extra */
.bloco:last-child {
  margin-right: 0;
}

/*atualização*/
/* Estilos gerais da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.update-cadastro-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

/* Estilos para o formulário */
.atualizacao {
  display: flex;
  flex-direction: column;
  position: absolute; /* ou 'fixed', dependendo do comportamento desejado */
  top: 60%; /* Posicionamento a partir do topo */
  left: 50%; /* Posicionamento a partir da esquerda */
  transform: translate(-50%, -50%); /* Centraliza o bloco */
  z-index: 999; /* Define a ordem de empilhamento sobre outros elementos */
  background-color: #a8f39b; /* Cor de fundo desejada */
  padding: 20px; /* Adapte conforme necessário */
  text-align: center; /* Centraliza o texto */
  max-width: 1200px; /* Define uma largura máxima para o conteúdo */
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-bottom: 100px;
  height: 600px; /* Ajuste a altura conforme necessário */
  border-radius: 10px;
  border: 2px solid rgb(68, 243, 77);
  line-height: 1.5; /* Altere o valor para ajustar o espaçamento vertical entre as linhas */

}

label {
  margin-bottom: 8px;
  color: #555;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
