
<form (ngSubmit)="onSubmit()">
  <h2>Agendamento para a <span>coleta</span></h2>

  <span style="display: block; margin-bottom: 5px;">Para agendar, você precisa realizar o cadastro.<a routerLink="/cadastrar" class="link-cadastrar"> Clique aqui</a> e faça o seu!
  </span>
  <span style="display: block; margin-bottom: 5px;">**Agendamentos com no mínimo  dois dias de antecedência, a partir de 6l de óleo**</span>
  <span style="display: block; margin-bottom: 5px;">Escolha o melhor dia e horário para a sua coleta.</span>
  <span style="display: block; margin-bottom: 5px;">Nosso atendimento é de segunda a sexta em horário comercial.</span>
<div class="col-1 col-s-2">
  <fieldset>
    <legend >Escolha uma data</legend>
    <div class="row">
      <div class="col-1 col-s-2">
        <input type="date" id="txtData" [(ngModel)]="novoAgendamento.dia" name="data" min="15/12/2023">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend >Escolha um horário:</legend>
    <div class="row">
      <div class="col-1 col-s-2">
        <input type="time" id="txtHorario" [(ngModel)]="novoAgendamento.horario" name="horario" class="caixa-texto">

      </div>
    </div>
  </fieldset>
</div>
  <div class="form-group">
    <label for="cpfCnpj">CPF ou CNPJ:</label>
    <input type="text" id="cpfCnpj" [(ngModel)]="novoAgendamento.cpfCnpj" name="cpfCnpj" placeholder="Digite seu CPF ou CNPJ" required/>
  </div>
    <div class="form-group">
      <label for="endereco">Endereço para coleta:</label>
      <input type="text" id="endereco" [(ngModel)]="novoAgendamento.enderecoColeta" name="enderecoColeta" placeholder="Digite seu endereço completo" required/>
    </div>
    <div class="form-group">
      <label for="quantidadeOleo">Quantidade de óleo:</label>
      <input type="number" id="quantidade" [(ngModel)]="novoAgendamento.quantOleo" name="quantOleo" placeholder="Digite a quantidade de óleo. Ex.: 10" required/>
    </div>
    <div class="form-group">
      <label for="userType">Status da coleta:</label>
      <select class="form-control" id="status" [(ngModel)]="novoAgendamento.statusColeta" name="statusColeta" required>
        <option value="" disabled selected>Selecione: a realizar</option>
        <option value="a realizar">A realizar</option>
        <option value="realizada">Realizada</option>
        <option value="cancelada">Cancelada</option>
        </select>
    </div>
    <input type="submit" value="{{btnText || 'Enviar'}}"/>
</form>
