.centralizar-justificar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  max-width: 600px;
  margin: auto; /* Para centralizar horizontalmente */
  padding: 20px;
}
.imagemcircular{
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2000px;
  height: 500px;
  border-top: 1px solid rgb(25, 214, 25);
  text-align: justify;
  max-width: 600px;
  width: 30%; /* A imagem ocupará 100% da largura do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
  margin: auto;
  padding: 20px;

}
@media screen and (max-width: 600px) {
  .imagemcircular{
    width: 50%;
  }

}
.imagem-container {
  max-width: 100%;
  border: 2px solid #b0a806; /* Adicione a borda desejada ao contêiner */
  border-radius: 8px;
  overflow: hidden; /* Garante que a borda não se estenda além do contêiner */
}
.centralizar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

img {
  /*max-width: 100%;*/
  /*margin-bottom: 20px;*/
  width: 100%; /* A imagem ocupará 100% da largura do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
}

.oleoArmazenado{
  width: 80%;
  height: 20%;
  display: flex;
  margin-bottom: 10px;
  margin-left: 30px;

}
@media screen and (max-width: 600px) {
  .oleoArmazenado{
    width: 80%;
    margin-left: 20px;
  }

}
.blocos {
  display: flex;
  justify-content: space-between;
  /*max-width: 800px;*/
  margin: auto;
  width: 80%;

}
@media screen and (max-width: 600px) {
  .blocos {
    font-size: 14px;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.3;

  }
}
.bloco1 {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f;
  height: 300px;
  margin-bottom: 30px;
  width: 80%;


}
@media screen and (max-width: 600px) {
  .bloco1 {
    font-size: 14px;
    width: 100%;


}
}
.bloco1 .link {
  text-decoration: underline; /*sublinhado para indicar que é um link */
  color: blue;
}
.bloco {
  flex: 1;
  box-sizing: border-box; /* Garante que a largura do bloco inclua preenchimento e borda */
  padding: 20px;
  border: 2px solid #0ad228;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #4de35f;
  height: 300px;
  margin-bottom: 30px;
  line-height: 1.0;
  width: 80%;

}
@media screen and (max-width: 600px) {
  .bloco {
    font-size: 14px;
    width: 100%;
  }
}
.bloco .link{
  text-decoration: underline;
  color: blue;
}
.bloco a{
  text-decoration: underline;
  color: blue;
}
/* A última não deve ter margem direita para evitar espaçamento extra */
.bloco:last-child {
  margin-right: 0;
}
